{% extends 'layouts/base.html' %}

{% block title %} F_LSCD_03 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet">
                  
    <!-- <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Authors table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">John Michael</h6>
                          <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Manager</p>
                      <p class="text-xs text-secondary mb-0">Organization</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success">Online</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Alexa Liras</h6>
                          <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Programator</p>
                      <p class="text-xs text-secondary mb-0">Developer</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                    </td>
                    <td class="align-middle">
                      <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-4.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Laurent Perrier</h6>
                          <p class="text-xs text-secondary mb-0">laurent@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Executive</p>
                      <p class="text-xs text-secondary mb-0">Projects</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success">Online</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                    </td>
                    <td class="align-middle">
                      <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Michael Levi</h6>
                          <p class="text-xs text-secondary mb-0">michael@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Programator</p>
                      <p class="text-xs text-secondary mb-0">Developer</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success">Online</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                    </td>
                    <td class="align-middle">
                      <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Richard Gran</h6>
                          <p class="text-xs text-secondary mb-0">richard@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Manager</p>
                      <p class="text-xs text-secondary mb-0">Executive</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                    </td>
                    <td class="align-middle">
                      <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-4.jpg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Miriam Eric</h6>
                          <p class="text-xs text-secondary mb-0">miriam@creative-tim.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Programtor</p>
                      <p class="text-xs text-secondary mb-0">Developer</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                    </td>
                    <td class="align-middle">
                      <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Projects table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Completion</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Spotify</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$2,500</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">working</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Invision</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$5,000</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">done</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">100%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-jira.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Jira</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$3,400</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">canceled</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">30%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Slack</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$1,000</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">canceled</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">0%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-webdev.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Webdev</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$14,000</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">working</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">80%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm rounded-circle me-2">
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">Adobe XD</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">$2,300</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">done</span>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">100%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row" id="F_LSCD0_03_dosis" >
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>F-LSCD-03</h6>
          </div>
          <div class="container-fluid" >
            <div class="row text-center">
              <div class="col-3 border">
                <div class="content" style="overflow-x: auto;white-space: nowrap;">
                  <div class="modal-header">
                    <h5 class="modal-title">Formulario</h5>
                  </div>
                  <form id="id_FLSCD_03" data-post-url="{% url 'tasa_dosis_list' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="author">
                        <div id="cont" class="table-responsive">
                            <div class="card-footer">
                              <a type="button" style="float: right; color:white;" rel="tooltip" onclick="addDosis()" class="btn bg-gradient-success  my-1 me-1" data-original-title="" title="">Añadir Dosis</i></a>             
                              <button type="submit" class="btn bg-gradient-primary my-1 me-1">Calcular</button>   
                            </div>
                            <body onload="createTableLSCD036();"></body>                            
                          </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-9 border">
                <div class="content" style="overflow-x: auto;white-space: nowrap;">
                  <div class="modal-header">
                    <h5 class="modal-title">Respuesta</h5>
                  </div>
                  <table id="F_LSCD_03" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-inverse">
                      <tr>
                        <th>Tasa de dosis</th>
                        <th>Unidad</th>
                        <th>Combinación de atenuadores</th>
                        <th>Distancia (m)</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>  
          </div>  
        </div>
      </div>
    </div>


    <div class="row" style="display:none" id="PAGE_F_LSCD0_12_LECTURAS" >
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>F-LSCD-012</h6>
          </div>
          <div class="container-fluid" >
            <div class="row text-center">              
              <div class="col-12 border">
                <div class="content" style="overflow-x: auto;white-space: nowrap;">
                  <div class="modal-header">
                    <h5 class="modal-title">Formulario</h5>
                  </div>
                  <form id="id_FLSCD_012"  method="POST">
                    {% csrf_token %}
                    <table id="F_LSCD_012" class="table table-striped table-bordered" style="width:100%">
                      <thead class="thead-inverse">
                        <tr>
                          <th>Tasa VCV</th>
                          <th>LECTURA 1</th>
                          <th>LECTURA 2</th>
                          <th>LECTURA 3</th>
                          <th>LECTURA 4</th>
                          <th>LECTURA 5</th>
                          <th>LECTURA 6</th>
                          <th>LECTURA 7</th>
                          <th>LECTURA 8</th>
                          <th>LECTURA 9</th>
                          <th>LECTURA 10</th>
                          <th>UNIDAD</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="card-footer">      
                      <button type="submit" class="btn bg-gradient-primary my-1 me-1">Calcular</button> 
                    </div>
                </form>
                </div>
              </div>
              <div class="col-12 border">
                <div class="content" style="overflow-x: auto;white-space: nowrap;">
                  <div class="modal-header">
                    <h5 class="modal-title">Respuesta</h5>
                  </div>
                  <table id="F_LSCD0_12_lecturas" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-inverse">
                      <tr>
                        <th>Tasa VCV</th>
                        <th>LECTURA 1</th>
                        <th>LECTURA 2</th>
                        <th>LECTURA 3</th>
                        <th>LECTURA 4</th>
                        <th>LECTURA 5</th>
                        <th>LECTURA 6</th>
                        <th>LECTURA 7</th>
                        <th>LECTURA 8</th>
                        <th>LECTURA 9</th>
                        <th>LECTURA 10</th>
                        <th>LECTURA MÍNIMA</th>
                        <th>UNIDAD</th>
                        <th>PROMEDIO</th>
                        <th>D.S.</th>
                        <th>C.V.</th>
                        <th>FACTOR K</th>
                        <th>VAR. RESP(%)</th>
                        <th>INCERT(%)</th>
                        <th>TEST</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>  
          </div>  
        </div>
      </div>
    </div>

    <div class="row" style="display:none" id="Insert_Cal_Mon">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Insert. Cal. Mon</h6>
          </div>
          <div class="container-fluid" >
            <div class="row text-center">  
              <div class="col-12 col-xl-4">
                <div class="card mb-4">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Fuentes de incertidumbres</h6>
                  </div>
                  <div class="card-body p-3">
                    <ul class="list-group">
                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Dosimetría C.I patrón de aleph SAC</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">                          
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Homogeneidad del campo</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Repetibilida de las mediciones</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Posicionamiento longitudinal de la distancia fuente - monitor</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Calibración de la cinta métrica</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                            <option disabled selected value="">TIPO de INCERT.</option>
                            <option value = "Tipo A">Tipo A</option>
                            <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Resolución de la cinta métrica</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Resolución del monitor de radiación</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Coeficiente de conversión</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto"  name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                      <li class="list-group-item border-0 d-flex align-items-center px-0">
                        <div class="d-flex align-items-start flex-column justify-content-left">
                          <h6 class="mb-0 text-sm">Ajuste de la curva de dosimetría</h6>
                        </div>
                        <select class="btn btn-link pe-3 ps-0 mb-0 ms-auto" name="" id="">
                          <option disabled selected value="">TIPO de INCERT.</option>
                          <option value = "Tipo A">Tipo A</option>
                          <option value = "Tipo B">Tipo B</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 

          <div class="container-fluid" >
            <div class="row text-center">  
              <div class="col-12 col-xl-8">
                <div class="card mb-4">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Calibraciones</h6>
                  </div>
                  <div class="card-body p-3">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                      <thead >
                        <tr>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                          <th>
                            <div>
                              <a class="btn btn-primary card-title" data-toggle="collapse" href="#collapseE'.$key.'" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Calibración
                              </a>
                            </div>
                          </th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div> 
            </div>  
          </div>
        </div>
      </div>
    </div>


    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="/static/assets/js/FLSCD/table-create03.js"></script>
<script src="/static/assets/js/Transitions/transitions.js"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
